# ==============================
# NetPulse
# Git Ignore
# ==============================

# Environment / Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Java
target/
build/
out/
*.class

# NetBeans
nbproject/private/
nbbuild/
dist/
.nb-gradle/

# IntelliJ / Eclipse
.idea/
*.iml
.classpath
.project
.settings/

# PHP
vendor/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Temporary
tmp/
temp/

# Test output
coverage/

# Database local files
*.db
*.sqlite


*.obsidian